<!-- INCLUDE overall_header.html -->


<img src="http://i.imgur.com/jxJrzSl.png" style="float:left;margin-right:8px;"/><h2 style="border-bottom: 1px solid #ddd;">Badges</h2>

  <div class="inner" style="padding:15px;">

   <div class="content">
     <div style="padding:10px 0 0 20px;font-size:12px;font-size: 1em;">

 	<p>
 		                                                                                   O sistema de badges do fórum é usado como uma forma divertida de "conquistas", podendo ser adquiridas pelos mais diversos motivos. Além das listadas nessa página, existem algumas especiais relacionadas a eventos do fórum.
 	</p>

 	<div style="padding:10px 0 0 20px;">

 		<p>
 			                                                                    <a name="B1"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Usuários do Mês</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B1"><img src="http://i.imgur.com/UyfuoRJ.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Apareceu 1 vez no top 3 no tópico "Usuário e Tópico do Mês" <br>                              <img src="http://i.imgur.com/8hNmA3v.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Apareceu 4 vezes no top 3 no tópico "Usuário e Tópico do Mês" <br>                              <img src="http://i.imgur.com/sK8XEw3.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Apareceu 8 vezes no top 3 e foi eleito 1 vez como UdM no tópico "Usuário e Tópico do Mês" <br>                              <img src="http://i.imgur.com/J3CZGnS.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Apareceu 15 vezes no top 3 e foi eleito 3 vezes como UdM no tópico "Usuário e Tópico do Mês" <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B2"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Tópicos do Mês</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B2"><img src="http://i.imgur.com/jNWhzkx.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Teve 1 dos seus tópicos aparecendo no tópico "Usuário e Tópico do Mês" <br>                              <img src="http://i.imgur.com/f3hbLTP.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Teve 4 dos seus tópicos aparecendo no tópico  "Usuário e Tópico do Mês" <br>                              <img src="http://i.imgur.com/CJJoywR.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Teve 8 dos seus tópicos aparecendo no tópico  "Usuário e Tópico do Mês" <br>                              <img src="http://i.imgur.com/GE3dJGk.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Teve 15 dos seus tópicos aparecendo no tópico  "Usuário e Tópico do Mês" <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B3"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Criador de Guias</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B3"><img src="http://i.imgur.com/j0DI5CL.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Criou 3 Guias <br>                              <img src="http://i.imgur.com/QCf9qtD.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Criou 6 Guias <br>                              <img src="http://i.imgur.com/cNIecIJ.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Criou 12 Guias <br>                              <img src="http://i.imgur.com/7RVs0oa.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Criou 20 Guias <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B4"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Newsposter</strong> </span> </a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B4"><img src="http://i.imgur.com/MqJVJOp.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Postou 10 notícias <br>                              <img src="http://i.imgur.com/PEYFqwh.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Postou 30 notícias <br>                              <img src="http://i.imgur.com/QqaYmbQ.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Postou 60 notícias <br>                              <img src="http://i.imgur.com/ViVsr8n.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Postou 100 notícias <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B5"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Vencedor de Campeonatos</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B5"><img src="http://i.imgur.com/o1mohbD.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Venceu 3 Campeonatos <br>                              <img src="http://i.imgur.com/FLm9uDq.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Venceu 6 Campeonatos <br>                              <img src="http://i.imgur.com/AmROGFU.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Venceu 10 Campeonatos <br>                              <img src="http://i.imgur.com/J9WPSRK.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Venceu 16 Campeonatos <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B6"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Rato da PokéBlast</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B6"><img src="http://i.imgur.com/M2CRbS8.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Criou 5 tópicos na área Pokémon Blast <br>                              <img src="http://i.imgur.com/oR9j5Rx.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Criou 25 tópicos na área Pokémon Blast <br>                              <img src="http://i.imgur.com/GGbzrSe.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Criou 50 tópicos na área Pokémon Blast <br>                              <img src="http://i.imgur.com/er36ZPD.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Criou 100 tópicos na área Pokémon Blast <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B8"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Mestre das Artes</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B8"><img src="http://i.imgur.com/Vz8hiDz.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Fez e publicou 5 Artes, Fics ou Sets na Custom Blast <br>                              <img src="http://i.imgur.com/TBGHYlu.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Fez e publicou 25 Artes, Fics ou Sets na Custom Blast
 		</p>

 		<p style="margin-left:20px">
 			                                                                     <img src="http://i.imgur.com/6pxCUAz.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Fez e publicou 100 Artes, Fics ou Sets na Custom Blast
 		</p>

 		<p style="margin-left:20px">
 			                                                                     <img src="http://i.imgur.com/4hxs5jA.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Fez e publicou 200 Artes, Fics ou Sets na Custom Blast
 		</p><br>
 		<p>
 			                                                                    <a name="B9"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Organizador de Campeonatos</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B9"><img src="http://i.imgur.com/yb0mY4o.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Organizou 3 Campeonatos <br>                              <img src="http://i.imgur.com/pZXiCRX.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Organizou 6 Campeonatos <br>                              <img src="http://i.imgur.com/m4t1LAn.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Organizou 12 Campeonatos <br>                              <img src="http://i.imgur.com/6tb8JEi.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Organizou 20 Campeonatos <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B10"><span style="font-size:16px;color:#8B0000;">Badge:<strong> O Mais Ativo do Mês</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B10"><img src="http://i.imgur.com/bLlSYjc.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Ficou no Top 3 nas Estatísticas 1 vez, sendo um dos Usuários Mais Ativos do Mês <br>                              <img src="http://i.imgur.com/dqQVKQb.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Ficou no Top 3 nas Estatísticas 4 vezes, sendo um dos Usuários Mais Ativos do Mês <br>                              <img src="http://i.imgur.com/raAGbiM.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Ficou no Top 3 nas Estatísticas 8 vezes, sendo um dos Usuários Mais Ativos do Mês<br>                              <img src="http://i.imgur.com/VJnFTFQ.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Ficou no Top 3 nas Estatísticas 15 vezes, sendo um dos Usuários Mais Ativos do Mês <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B11"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Eu Gostei</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B11"><img src="http://i.imgur.com/26AaHgu.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Sua mensagem recebeu mais de 10 Karmas ou você tem 500 karmas no total <br>                              <img src="http://i.imgur.com/pjCXsMq.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Sua mensagem recebeu mais de 20 Karmas ou você tem 1000 karmas no total <br>                              <img src="http://i.imgur.com/yd3TO0a.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Sua mensagem recebeu mais de 30 Karmas ou você tem 1500 karmas no total <br>                              <img src="http://i.imgur.com/wT4WYx0.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Sua mensagem recebeu mais de 50 Karmas ou você tem 3000 karmas no total <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B12"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Ocarina do Tempo</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B12"><img src="http://i.imgur.com/O1cMxcA.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Esteve no Fórum por mais de 1 ano <br>                              <img src="http://i.imgur.com/h29J5os.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Esteve no Fórum por mais de 3 anos <br>                              <img src="http://i.imgur.com/2UAUCSf.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Esteve no Fórum por mais de 4 anos <br>                              <img src="http://i.imgur.com/8NbpHhD.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Esteve no Fórum por mais de 5 anos <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B13"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Usuário Noturno</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B13"><img src="http://i.imgur.com/W5CLpiN.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Participou do Corujão 10 vezes <br>                              <img src="http://i.imgur.com/kZ9qJb3.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Participou do Corujão 50 vezes <br>                              <img src="http://i.imgur.com/D1cCSxW.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Participou do Corujão 100 vezes <br>                              <img src="http://i.imgur.com/BxPpZMi.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Participou do Corujão 200 vezes <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B14"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Tópico Mais Popular</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B14"><img src="http://i.imgur.com/Gvq8Ryu.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Teve mais de 100 respostas em um tópico <br>                              <img src="http://i.imgur.com/JbYA0hK.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Teve mais de 150 respostas em um tópico <br>                              <img src="http://i.imgur.com/aItkh8v.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Teve mais de 300 respostas em um tópico <br>                              <img src="http://i.imgur.com/gzi8rQc.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Teve mais de 500 respostas em um tópico <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B15"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Criador de Analises </strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B15"><img src="http://i.imgur.com/x2WkVXS.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Criou e postou 3 análises <br>                              <img src="http://i.imgur.com/huVJ9gE.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Criou e postou 6 análises <br>                              <img src="http://i.imgur.com/YM3rsQe.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Criou e postou 12 análises <br>                              <img src="http://i.imgur.com/PvnxcmP.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Criou e postou 20 análises <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B16"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Maior Breeder</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B16"><img src="http://i.imgur.com/w620OlY.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Doou 20 pokémon <br>                              <img src="http://i.imgur.com/fSEmW2M.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Doou 50 pokémon <br>                              <img src="http://i.imgur.com/hSRLr6x.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Doou 80 pokémon <br>                              <img src="http://i.imgur.com/EDDvqci.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Doou 200 pokémon <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B17"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Usuário Confiável</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B17"><img src="http://i.imgur.com/zIHQElg.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Foi recomendado nos Classificados 5 vezes <br>                              <img src="http://i.imgur.com/TBtsXdk.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Foi recomendado nos Classificados 10 vezes <br>                              <img src="http://i.imgur.com/L0BGvxd.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Foi recomendado nos Classificados 20 vezes <br>                              <img src="http://i.imgur.com/soYwnTp.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Foi recomendado nos Classificados 40 vezes <br>
 		</p><br>
 		<p>
 			                                                                    <a name="B18"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Hey Listen!</strong> </span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#B18"><img src="http://i.imgur.com/AZ82D1F.png" style="margin-left:10px;margin-right:10px"></a><strong>Nv. 1</strong> - Respondeu 10 dúvidas <br>                              <img src="http://i.imgur.com/b87sZyN.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 2</strong> - Respondeu 20 dúvidas <br>                              <img src="http://i.imgur.com/KB0PGDi.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 3</strong> - Respondeu 35 dúvidas <br>                              <img src="http://i.imgur.com/NfzFjhu.png" style="margin-left:10px;margin-right:10px"><strong>Nv. 4</strong> - Respondeu 50 dúvidas <br>
 		</p><br>
 	</div>

 	<p>
 		                                                                   <span style="font-size:14px;color:#8B0000;"><strong> Badges de Evento:</strong> </span>
 	</p>

 	<hr>

 	<p>
 		                                               E como dito mais acima, também temos as badges especiais de evento. Elas são vermelhas com dourado, e são dadas em ocasiões especiais.
 	</p>

 	<hr>

 	<div style="padding:10px 0 0 20px;">

 		<p>
 			                                                                    <a name="S1"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Facção Campeão</strong></span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#S1"><img src="http://i.imgur.com/TEXlBIy.gif" style="margin-left:10px;margin-right:10px"></a> <strong>Newgamer vs Retrogamers </strong>- Venceu a Guerra das Facções do Mês Nintendo Retrô. Parabéns a todos os Retrogamers! <br>                              <img src="http://i.imgur.com/E6ooiCB.gif" style="margin-left:10px;margin-right:10px"> <strong>Pokémon Festival </strong>- Venceu o Pokémon Festival, evento da Pokémon Blast. Parabéns ao poderoso Team Magma! <br><img src="http://i.imgur.com/FKBThNQ.gif" style="margin-left:10px;margin-right:10px"> <strong>Hyrule vs. Lorule </strong>- Venceu a Guerra de Facções do Mês Nintendo Retrô. A luz de Hyrule triunfou sobre Lorule! <br>
 		</p>

 		<p>
 			                                                                    <a name="S2"><span style="font-size:16px;color:#8B0000;">Badge:<strong> Participação </strong></span></a>
 		</p>

 		<p style="margin-left:20px">
 			                                                                    <a href="#S2"><img src="http://i.imgur.com/yLGA41C.png" style="margin-left:10px;margin-right:10px"></a> <strong>Mês Nintendo Retrô </strong>- Participou do Mês Nintendo Retrô (Setembro/2015) <br>                              <img src="http://i.imgur.com/2DIOkll.png" style="margin-left:10px;margin-right:10px"> <strong>Pokémon Festival</strong> - Participou do Pokémon Festival, na Pokémon Blast (Dezembro/2015)<br><img src="http://i.imgur.com/QjJeIaG.png" style="margin-left:10px;margin-right:10px"> <strong>CCNB 2016</strong> - Participou do Concurso Cultural Nintendo Blast (Abril/2016)<br><img src="http://i.imgur.com/UecRWvM.png" style="margin-left:10px;margin-right:10px"> <strong>Mês Nintendo Zelda</strong> - Participou do Mês Nintendo Zelda (Julho/2016)<br>
 		</p><strong>             </strong>
 	</div><strong>           </strong>
 	<p>

 	</p><strong>                                                 </strong>
 	<hr><strong>                                                                                        </strong>
 	<p>

 	</p><strong>           </strong>
 	<p>
 		                                                                   <span style="font-size:14px;color:#8B0000;"><strong> Observações:</strong> </span>
 	</p><strong>                                                           </strong>
 	<hr><strong>                                                                                                </strong>
 	<p>
 		                                               Todas as badges, com exceção das "Ocarina do Tempo", "Usuário Confiável" e "Eu Gostei" valem apenas a partir do mês de lançamento (Agosto/2015).
 	</p><strong>                                                          </strong>
 	<hr><strong>                                                         </strong>
 	<p>
 		                                               A badge "Hey Listen!" vale apenas para as dúvidas respondidas nas seções "Dúvidas" das Áreas <strong>Nintendo</strong> e <strong>Outros Consoles</strong>, além das postadas nas áreas <strong>Pokémon Blast</strong> e <strong>Smash Blast</strong>, em tópicos voltados para tal.
 	</p><strong></strong>
 </div>
   </div>

 </div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
