<!-- INCLUDE overall_header.html -->

<img src="./styles/prosilver/imageset/niveis_tit.png" style="float:left;margin-right:8px;"/><h2 style="border-bottom: 1px solid #ddd;">Níveis e Classes</h2>

  <div class="inner" style="padding:15px;">

   <div class="content">
      <p style="float:left;    width: 600px;">
         O sistema de classes e níveis é usado para classificar os usuários de acordo com sua participação no fórum. Em alguns eventos e promoções só poderão participar usuários com determinada classe/nível.
      </p>
      <img src="./styles/prosilver/imageset/defa.png" style="float:right;"/><br><br>
      <div style="padding:10px 0 0 20px;">

		<p>
			             <span style="font-size:16px;color:#8B0000;">Classe:<strong> Iniciante</strong> </span>
		</p>

		<p style="margin-left:20px">
			  <strong>Nv. 1</strong> - Requer 1 Mensagem <br>
        Adere ao <b>Rank D</b><img src="./images/ranks/rankd.png" style="margin-left:8px;"/>
        <br><strong>Nv. 2</strong> - Requer 10 mensagens
        <br><strong>Nv. 3</strong> - Requer 20 mensagens
        <br><strong>Nv. 4</strong> - Requer 30 mensagens
        <br><strong>Nv. 5</strong> - Requer 50 mensagens
        Adere ao <b>Rank C</b><img src="./images/ranks/rankc.png" style="margin-left:8px;"/>
		</p><br>

    <p><span style="font-size:16px;color:#8B0000;">Classe:<strong> Membro</strong></span></p>

    <p style="margin-left:20px">
        <strong>Nv. 1</strong> - Requer 100 Mensagens <br>
        <br><strong>Nv. 2</strong> - Requer 200 Mensagens
        <br><strong>Nv. 3</strong> - Requer 300 Mensagens
        <br><strong>Nv. 4</strong> - Requer 400 Mensagens
        <br><strong>Nv. 5</strong> - Requer 500 Mensagens
        Adere ao <b>Rank B</b><img src="./images/ranks/rankb.png" style="margin-left:8px;"/>
        <br><strong>Nv. 6</strong> - Requer 600 Mensagens
        <br><strong>Nv. 7</strong> - Requer 700 Mensagens
        <br><strong>Nv. 8</strong> - Requer 800 Mensagens
        <br><strong>Nv. 9</strong> - Requer 900 Mensagens
        <br><strong>Nv. 10</strong> - Requer 1000 Mensagens
        Adere ao <b>Rank A</b><img src="./images/ranks/ranka.png" style="margin-left:8px;"/>
    </p><br>

    <p><span style="font-size:16px;color:#8B0000;">Classe:<strong> Veterano</strong></span></p>

    <p style="margin-left:20px">
        <strong>Nv. 1</strong> - Requer 1100 Mensagens
        <br><strong>Nv. 2</strong> - Requer 1200 Mensagens
        <br><strong>Nv. 3</strong> - Requer 1300 Mensagens
        <br><strong>Nv. 4</strong> - Requer 1400 Mensagens
        <br><strong>Nv. 5</strong> - Requer 1500 Mensagens
        Adere ao <b>Rank A+</b><img src="./images/ranks/rankap.png" style="margin-left:8px;"/>
        <br><strong>Nv. MAX</strong> - Requer 2500 Mensagens
    </p><br>

    <p><span style="font-size:15px;text-decoration:underline;"><b>Classes Especiais:</b></span><br></p>

    <p><span style="font-size: 16px; color: #8B0000;">Classe:<strong> Usuário do Mês</strong></span></p>
		<p style="margin-left: 20px;"><strong>Usuário do Mês</strong> - Requer vitória (1º lugar) na premiação mensal de Usuário do Mês.</p>
    <p><span style="font-size: 16px; color: #8B0000;">Classe:<strong> Staff Blast</strong></span></p>
    <p style="margin-left: 20px;"><strong>Rank S</strong> - Requer pedido do usuário (e aprovação da Moderação), aprovação durante alguma Recruta ou convite da Moderação.</p>
    <p><span style="font-size: 16px; color: #8B0000;">Classe:<strong> Moderador</strong></span></p>
    <p style="margin-left: 20px;"><strong>Moderador</strong> - Requer aprovação da Moderação/Administração.</p>
    <p><span style="font-size: 16px; color: #8B0000;">Classe:<strong> Administrador</strong></span></p>
    <p style="margin-left: 20px;"><strong>Administrador</strong> - Requer promoção da classe Moderador.</p>
	</div>
   </div>

 </div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
