	</div>

<div id="page-footer">
	<div class="copyright">Powered by <a href="https://www.phpbb.com/">phpBB</a>® Forum Software © phpBB Group
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
	</div>
	<div class="navbar" role="navigation">
	<div class="cont">
	<div class="coluna-indice">
	<span>SITE<br></span>
	<aside class="conserta"></aside>
	<a href="http://www.nintendoblast.com.br/search/label/~Not%C3%ADcia" target="_blank">Notícias</a><br>
<a href="http://www.nintendoblast.com.br/search/label/~Destaque?max-results=60" target="_blank">Destaques</a><br>
<a href="http://www.nintendoblast.com.br/search/label/An%C3%A1lise" target="_blank">Análises</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Pr%C3%A9via?max-results=40" target="_blank">Prévias</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Dicas?max-results=40" target="_blank">Dicas e Truques</a><br>
<a href="http://www.nintendoblast.com.br/search/label/N-Blast%20Responde" target="_blank">N-Blast Responde</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Blast%20from%20the%20Past" target="_blank">Blast From The Past</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Curiosidade?max-results=40" target="_blank">Curiosidades</a>
</div>

<div class="coluna-indice">
<span>PLATAFORMAS<br></span>
<aside class="conserta"></aside>
<a href="http://www.nintendoblast.com.br/search/label/Switch" target="_blank">Nintendo Switch</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Wii%20U" target="_blank">Nintendo Wii U</a><br>
<a href="http://www.nintendoblast.com.br/search/label/3DS" target="_blank">Nintendo 3DS</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Wii" target="_blank">Nintendo Wii</a><br>
<a href="http://www.nintendoblast.com.br/search/label/DS" target="_blank">Nintendo DS</a><br>
<a href="http://www.nintendoblast.com.br/search/label/GB" target="_blank">Game Boy</a><br>
<a href="http://www.nintendoblast.com.br/search/label/SNES" target="_blank">Super Nintendo</a><br>
<a href="http://www.nintendoblast.com.br/search/label/NES" target="_blank">NES</a><br>
<a href="http://www.gameblast.com.br/" target="_blank">Outros Consoles</a>
</div>

<div class="coluna-indice">
<span>SÉRIES<br></span>
<aside class="conserta"></aside>
<a href="http://www.nintendoblast.com.br/search/label/Mario" target="_blank">Super Mario Bros.</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Zelda" target="_blank">The Legend of Zelda</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Metroid" target="_blank">Metroid</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Pok%C3%A9mon" target="_blank">Pokémon</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Donkey%20Kong" target="_blank">Donkey Kong</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Kirby" target="_blank">Kirby</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Star%20Fox" target="_blank">Star Fox</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Animal%20Crossing" target="_blank">Animal Crossing</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Fire%20Emblem" target="_blank">Fire Emblem</a>
</div>

<div class="coluna-indice">
<span>NA REDE<br></span>
<aside class="conserta"></aside>
<a href="http://facebook.com/nintendoblast" target="_blank">Facebook</a><br>
<a href="http://www.youtube.com/GameBlastTV" target="_blank">YouTube</a><br>
<a href="http://twitter.com/nintendoblast" target="_blank">Twitter</a><br>
<a href="http://plus.google.com/+NintendoBlast" target="_blank">Google +</a><br>
<a href="http://feeds.nintendoblast.com.br/n-blast" target="_blank">Feed RSS</a><br>
<a href="http://www.nintendoblast.com.br/search/label/Revista" target="_blank">Revista</a><br>
<a href="https://www.facebook.com/search/str/Liga%2BN-Blast/keywords_top" target="_blank">Liga N-Blast</a>
</div>

<div class="coluna-indice">
<span>N-BLAST<br></span>
<aside class="conserta"></aside>
<a href="mailto:contato@nintendoblast.com.br" target="_blank">Contato</a><br>
<a href="http://www.gameblast.com.br/p/sobre.html" target="_blank">Sobre/Equipe</a><br>
<a href="http://www.gameblast.com.br/p/anuncie.html" target="_blank">Anuncie</a><br>
<a href="http://www.gameblast.com.br/p/termos-de-uso.html" target="_blank">Política de Privacidade</a>
</div>

	<div class="coluna-indice" style="border:none;margin:none;padding:none;text-align:right;">
	<img src="http://i.creativecommons.org/l/by-nc/2.5/br/88x31.png"><br>
	2008 - 2017<br>
	Nintendo Blast<br><br>
	© Layout por<br>
	Sérgio Estrella<br>
	e <a href="https://github.com/salies" target="_blank" style="color:#fff;">Daniel Serezane</a>
	</div>
	</div>
	<aside class="disclaimer">
	O Nintendo Blast não se responsabiliza pelas opiniões, comentários, imagens e links postados pelos frequentadores do Fórum, nem por qualquer dano supostamente decorrente do uso deste serviço perante usuários ou terceiros. O conteúdo das mensagens não é revisado pelo Nintendo Blast, sendo de única e exclusiva responsabilidade civil e penal do autor da mensagem.
	</aside>


		<div id="darkenwrapper" data-ajax-error-title="Erro no AJAX" data-ajax-error-text="Algo deu errado ao processar seu pedido." data-ajax-error-text-abort="Pedido do usuário cancelado." data-ajax-error-text-timeout="Seu pedido excedeu o tempo limite; por favor, tente novamente." data-ajax-error-text-parsererror="Algo deu errado com o pedido, o servidor retornou com uma resposta inválida.">
			<div id="darken">&nbsp;</div>
		</div>

		<div id="phpbb_alert" class="phpbb_alert" data-l-err="Erro" data-l-timeout-processing-req="Tempo esgotado.">
			<a href="#" class="alert_close"></a>
		</div>
		<div id="phpbb_confirm" class="phpbb_alert">
			<a href="#" class="alert_close"></a>
			<div class="alert_text"></div>
		</div>
	</div>
</div>

</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

</body>
<!-- IF S_REPUTATION -->
<!-- INCLUDE reputation/reputation_footer.html -->
<!-- ENDIF -->
</html>
