<!-- INCLUDE overall_header.html -->
<style>
h4 {
    background: url(http://i.imgur.com/J8oOrWC.png) right bottom no-repeat;
    color: #8B0000;
    line-height: 17px;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
    text-align: left;
    display: inline;
    margin: 0 0 0 -47px;
    padding: 0 20px 2px 46px;
}
</style>


<img src="http://i.imgur.com/esSbrBA.png" style="float:left;margin-right:8px;"/><h2 style="border-bottom: 1px solid #ddd;">Regras do Fórum Nintendo Blast</h2>

  <div class="inner" style="padding:15px;">

   <div class="content">
     <div style="padding: 20px 15px 0 50px; font-size: 12px">

 			<p style="background: #eee url(http://lh6.ggpht.com/_QocHY3CSRM0/S91x-cizHYI/AAAAAAAAHe0/BkqhDPruzPQ/s400/blackeagle_blockquotebkg3.png) right repeat-y;
             border-bottom: 1px solid #d7d7d7; display: block; line-height: 17px; margin: 0px -15px 5px -50px;
             padding: 9px 15px 10px 50px">
 				          <em>O <strong>Fórum Nintendo Blast</strong> é uma comunidade livre, mas que faz uso de algumas regras importantes para manter o bom convívo de seus usuários. Acima de tudo, é importante fazer uso do bom senso, e procurar seguir as seguintes orientações:</em>
 			</p>
 			          <br>
 			<h4><span style="font-size: 17px">1.</span> Ofensas a outros usuários:</h4>
 			<br>
 			<p style="margin-top: 5px">
 			Pense bem antes de ofender aos demais usuários. Respeite para ser respeitado, ou poderá ser alertado. De semelhante modo, evite palavras de baixo calão no fórum. Discriminação à etnia, orientação sexual e religião não serão toleradas.
 			</p>
 			<br>
 			<h4><span style="font-size: 17px">2.</span> Ofensas aos moderadores:</h4>

 			<p style="margin-top: 5px">
 				 Nós, moderadores do Fórum, damos bastante liberdade aos usuários, e fazemos questão de ser tratados de igual pra igual. Porém, exigimos respeito. Se quiser questionar alguma coisa – e você têm direito de fazê-lo –, faça com respeito.
 			</p>
 			<br>
 			<h4><span style="font-size: 17px">3.</span> Hostilizar iniciantes:</h4>

 			<p style="margin-top: 5px">
 				          O Fórum é uma comunidade aberta em constante crescimento. Não é raro que iniciantes postem dúvidas já respondidas ou criem tópicos repetidos. A função dos <em>Membros</em> e <em>Special Blast</em> é orientar esses usuários e ajudá-los a se integrar ao fórum em questão de funcionalidade dele. Usuários que hostilizarem iniciantes serão alertados.
 			</p>
 			          <br>
 			<h4><span style="font-size: 17px">4.</span> Flood/Flame:</h4>

 			<p style="margin-top: 5px">
 				          Podem ser caracterizados como <strong>Flood</strong>: postagens vazias, os "nem li", “lol”, "e.e", responder apenas com emoticons e afins, responder tópicos antigos sem acrescentar conteúdo útil. Podem ser caracterizados como <strong>Flame</strong>: mensagens com a intenção de ver o circo pegar fogo - provocar simplesmente pela provocação. Ambos os comportamentos não são bem vistos no fórum.
 			</p>
 			          <br>
 			<h4><span style="font-size: 17px">5.</span> Conteúdo impróprio:</h4>

 			<p style="margin-top: 5px">
 				          Não são admitidos conteúdos proibidos para menores de 18 anos, como eróticos e de violência explícita. Nem mesmo com aviso no título, nem como spoiler. Também não será admitido imagens que façam qualquer referência a algo erótico, imagens sugestivas também são proibidas, seja ela qual for.
 			</p>
 			          <br>
 			<h4><span style="font-size: 17px">6.</span> Sub-fórum “Geral”:</h4>

 			<p style="margin-top: 5px">
 				          Pode ser usado para qualquer assunto não relacionado com games, e terá maior tolerância da moderação, que no entanto tem o direto de bloquear e/ou excluir qualquer tópico que considere de alguma forma ofensivo ou com possível foco de flamers ou floods intencionais.
 			</p>
 			          <br>
 			<h4>
 				          <span style="font-size: 17px">7.</span> Pirataria:
 			</h4>

 			<p style="margin-top: 5px">
 				          Não poste links para ROMs, ISOs e outros downloads ilegais. Vender produtos ilegais, fazer recomendações e dúvidas sobre flashcards, desbloqueios, ente outros dispositivos ligados à pirataria também estão proibidas. Discussões sobre pirataria sem incentivo à mesma são permitidas.
 			</p>
 			          <br>
 			<h4>
 				          <span style="font-size: 17px">8.</span> Double Posts:
 			</h4>

 			<p>
 				         O double post consiste em fazer posts seguidos um do outro. Para evitar isso, é possível editar o post, atualizando-o com a informação que você queira. Não são considerados postagens seguida uma da outra com o período de 24 horas (1 dia) entre elas.
 			</p>
 			          <br>
 			<h4>
 				          <span style="font-size: 17px">9.</span> Mini-Moderador:
 			</h4>

 			<p>
 				         A regra Mini-Moderador consiste em evitar posts em que são quotadas as regras do fórum, muitas vezes acaba floodando de quotes de regras, desvirtuando o assunto original do tópico. Nesses casos, avise um Moderador via <strong>Mensagem Privada (MP)</strong> informando o problema.
 			</p>
 			          <br>
<h4><span style="font-size: 17px">10.</span> Evite Spoilers:</h4>
  <p>
    Em tópicos de discussão e similares, evite dar spoilers sobre o jogo em questão por menores que eles sejam. Caso realmente queira tratar sobre um assunto que pode ser considerado uma surpresa, utilize o BBCode <b>[spoiler]</b>.
  </p>
            <br>
 			<hr style="background-color: #999">
 			          <br>
 			<p>

 			</p>

 			<h4 style="font-size: 17px">
 				          Alertas:
 			</h4>
 			          <br>
 			<p style="margin-top: 10px">
 				          São uma maneira de notificar os moderadores sobre comportamento indevido no Fórum. Para enviar um alerta sobre uma mensagem, basta clicar no ícone do ponto de exclamação que aparece em todas as mensagens. Funciona como uma colaboração à moderação, não implicando diretamente em notificações ou punições.
 			</p>
 			          <br>
 			<p>

 			</p>

 			<p>
 				          Por iniciativa da moderação, os usuários são notificados por MP toda vez que apresentarem comportamento indevido no Fórum, e a insistência pode levar à punições, que aumentam progressivamente de intensidade:
 			</p>
 			          <br>
 			<ul style="list-style-type: square; padding-left: 50px; line-height: 17px">

 				<li>
 					         <strong>Nível 1:</strong> Banimento de 1 semana.
 				</li>

 				<li>
 					         <strong>Nível 2:</strong> Banimento de 2 semanas.
 				</li>

 				<li>
 					         <strong>Nível 3:</strong> Banimento de 1 mês.
 				</li>

 				<li>
 					         <strong>Nível Máx.:</strong> Banimento permanente.
 				</li>

 			</ul>
 			          <br>
 			<p>
 				          Todas as aplicações de punição são notificadas via <strong>Mensagem Privada (MP)</strong> para o usuário alertado. As punições expiram em 6 meses (contanto que o usuário peça a algum moderador), resetando o contador de alertas. Caso o usuário seja banido do fórum, perde qualquer título especial (Special Blast, Ace Trainer, Smash Fighter e Designer) caso possua.
 			</p>
 			          <br>
 			<hr style="background-color: #999">
 			          <br>
 			<p>
 				          <strong>
 					<!--            <img style="margin: 0px 20px 20px 0px" title="avatar" border="0" alt="avatar" align="left"
                     src="http://lh3.ggpht.com/_QocHY3CSRM0/S_Hi_KElF4I/AAAAAAAAH1w/q1LiNUtncvU/avatar_thumb%5B3%5D.png?imgmax=800"
                     width="128" height="178" /><br />          --> <span style="font-size: 17px">Avatares:</span></strong><br> Dimensões máximas de 120x250 pixels e tamanho máximo de 70kb.
 			</p>
 			          <br>
 			<p>
 				          <strong><span style="font-size: 17px">Assinaturas:</span></strong><br> Imagem da assinatura: tamanho máximo de 547x225 pixels com até 1MB<br> Texto da assinatura: com texto, a assinatura pode chegar até 250 pixels de altura, sendo 75px de texto e 175px de imagem (jpg, png), com no máximo 500 caracteres. Será tolerado uma margem de 10 pixels ao máximo.
 			</p>

 			<hr style="background-color: #999;">

 		</div>
   </div>

 </div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
